body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato',sans-serif;
}
nav {
 display: flex;  
 justify-content: space-between;
 align-items: center;
margin: 0 100px;
}
nav li{
    list-style: none;
    padding-right: 15px;
    margin-right: 50px;
   
}
nav > ul{
    display: flex;
    align-items: center;
}
.nav-title{ 
    font-weight: bolder;
    font-size: 45px;
    font-family: 'Open Sans';
    margin: 30px;

}
.text-primary{
    color: #FD6E0A;
}
.button-primary{
    background: #FD6E0A;
width:95px ;
height: 40px;
padding: 10px;
color: aliceblue;
font-weight: bold;
font-size: 10px;
border: 0

/* font-family: 'Open Sans'; */
}
nav li a{
    text-decoration: none;
    color: rgb(20, 20, 20);
}
/* header releted */
.header{
    background: #FFF8F3;
    background-image:url(../images/header_bg.png
    );
   background-repeat: no-repeat;
   background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 120px;
    display: flex;
    align-items: center;
}
.profile-pic{
    width: 300px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747; margin-bottom: 0;
}
.banner-title{
    font-size: 55px;
    font-weight: 700;
}
.banner-pera{
    color: #757575;
}
/* main section file */
main{
    max-width: 1040px;
    margin: 0 auto;

}

.about{
    padding: 121px;
    border-radius: 10px;
    background: #FFF8F3;
    border-radius: 10px;
    margin: 100px 0;
    margin-left: 80px;
}
.sectioon-title{
    color: var(--dark-01, #181818);
text-align: center;

font-size: 35px;

font-weight: 700;

}
.section-description{
    display: flex;
width: 827px;
flex-direction: column;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center
;
}